{#{% extends "vue.html.twig" %}#}

<h1>News</h1>


<form style="background-color:grey">
	<h2>Rédiger une actualité</h2>
	<input placeholder="Titre" required></input><br />
	<textarea placeholder="Texte de la news" required></textarea><br />
	<button type="button">Envoyer</button>
</form>

<div>
	<h2>Fil des actualités</h2>
	{#{% for %}
		<div>
			<h3></h3>
		</div>
	{% endfor %}#}
</div>
